.mainActividades {
    display: grid;
    grid-template-columns: 300px 500px 600px 500px;
    grid-template-rows: 1fr 1fr;
}
#contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#boton5 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 650px;
}
